main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0.7rem 0.7rem 0;
}

#buttons__filter,
#buttons__clear {
  border: none;
  background: none;
  font-style: italic;
  color: var(--light-ish-color);
  margin-top: 0.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#buttons__filter svg,
#buttons__clear svg {
  fill: var(--light-ish-color);
  stroke: var(--light-ish-color);
  width: 16px;
  height: 15px;
  margin-right: 0.2rem;
  stroke-width: 0.1px;
}

#buttons__filter p,
#buttons__clear p {
  margin: 0;
}

#buttons__clear svg path {
  transform: scale(0.6);
}

@media (hover: hover) {
  #buttons__filter:hover,
  #buttons__clear:hover {
    color: var(--dark-color);
  }

  #buttons__filter:hover svg,
  #buttons__clear:hover svg {
    fill: var(--dark-color);
    stroke: var(--dark-color);
  }
}

#tasks {
  width: 90%;
  flex-grow: 1;
}

.task-list-template__details {
  margin-top: 1rem;
}

summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px var(--dark-color) solid;
  padding-bottom: 0.4rem;
}

summary::-webkit-details-marker {
  color: var(--dark-color);
}

.task-list-template__details__title {
  font-size: larger;
  font-weight: 500;
  color: var(--dark-color);
  width: 100%;
  margin: 0;
}

.swal-modal {
  background: var(--dark-color);
}

.swal-title,
.swal-text {
  font-family: "Ubuntu", sans-serif;
  color: var(--lightest-color);
  text-align: center;
}

.task-list-template__details[open] .task-list-template__details__list {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.task-list-template__details__dots {
  font-size: 30px;
  text-align: center;
  width: 30px;
  height: 20px;
  line-height: 37px;
  color: var(--light-ish-color);
}

.task-list-template__details__button {
  background: none;
  border: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.more-menu-template__container__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  border: 0.05px solid var(--light-ish-color);
  border-radius: 4px;
  background: var(--light-color);
  padding: 0.4rem;
  box-shadow: 2px 2px 20px #444444;
  position: absolute;
  z-index: 3;
}

@keyframes appear {
  0% {
    transform: translateX(0.5rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.more-menu-template__container__buttons button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.more-menu-template__container__buttons button svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  fill: var(--dark-color);
  stroke: var(--dark-color);
  stroke-width: 0.1px;
}

.more-menu-template__container__colors {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: var(--light-color);
  padding: 1rem 0.4rem 0.4rem;
  box-shadow: 2px 2px 20px #444444;
  position: absolute;
  z-index: 2;
}

@keyframes appearColor {
  0% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}

.more-menu-template__container__colors__btn {
  width: 20px;
  height: 20px;
  border: none;
  margin: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
}

.task-template__item {
  display: flex;
  align-items: center;
}

.task-template__item--dragging {
  opacity: 0.4;
  box-shadow: inset 0 0 0 0.5px var(--light-ish-color);
  border-radius: 4px;
}

ul label {
  display: flex;
  align-items: center;
}

ul label svg {
  cursor: pointer;
}

.task-list-template__details__list input {
  position: absolute;
  left: 12%;
  opacity: 0;
}

.task-template__item__drag {
  opacity: 0;
  cursor: move;
  padding: 0 0.4rem;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.task-template__item--ongoing-drag {
  opacity: 1;
}

.task-template__item:hover .task-template__item__drag {
  opacity: 1;
}

.task-template__item:active .task-template__item__drag {
  opacity: 0;
}

.task-template__item__custom-checkbox {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 3px;
  position: relative;
  left: 0.1rem;
  background: var(--dark-color);
}

.task-template__item__svg {
  z-index: 2;
  position: absolute;
}

[type="checkbox"]:checked + label .task-template__item__custom-checkmark {
  fill: none;
  transform: scale(0.2);
  stroke: var(--lightest-color);
  stroke-width: 20;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  -webkit-animation: draw 0.4s forwards ease-in-out;
  animation: draw 0.4s forwards ease-in-out;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.task-template__item__text {
  margin: 0.7rem 0 0.7rem 1rem;
  color: var(--dark-color);
  flex: 1;
}

.task-template__item__tag {
  font-size: smaller;
  margin-right: 0.6rem;
  padding: 0.2rem;
  color: var(--light-ish-color);
  background: var(--light-color);
  border-radius: 3px;
  border: 0.1px solid var(--light-ish-color);
}

.task-template__item__cross {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  color: var(--light-ish-color);
}
