footer {
  background: #444444;
  width: 100%;
  flex-shrink: 0;
  border-top: 0.1px solid #ebebeb;
}

footer p {
  text-align: center;
  font-size: smaller;
  font-weight: 300;
  color: #ebebeb;
  margin: 0.4rem;
}
